<ul class="first-navigation">
    <li lass="*">All Works</li>
    <li class=".metal">Features</li>    
    <li class=".wordpress">Wordpress</li>
</ul>
<ul class="second-navigation">
    <li class=".symfony">Symfony</li>
    <li class=".zend">Zend</li>
    <li class=".javascript">Javascript</li>
</ul>