{# Navbar #}
<div class="nav-left">
    <ul>
        <li id="social-twitter">
            <a class="greensock-light replace" href="http://twitter.com/mypoorbrain" id="btn-twitter" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li id="social-dribble">
            <a class="greensock-light replace" href="http://dribbble.com/mypoorbrain" id="btn-instagram" target="_blank">
                <i class="fab fa-codepen"></i>
            </a>
        </li>
        <li id="social-instagram">
            <a class="greensock-light replace" href="http://www.instagram.com/mypoorbraindesign/" id="btn-instagram" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li id="social-linkedin">
            <a class="greensock-light replace" href="http://www.linkedin.com/in/mypoorbrain" id="btn-linkedin" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <li id="social-email">
            <a target="_blank" class="greensock-light replace" href="mailto:tim@mypoorbrain.com" id="btn-email">
                <i class="fas fa-at"></i>
            </a>
        </li>
    </ul>
</div>